<!doctype html>
<html ng-app="eplApp">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Node Chat App</title>

	<link rel="stylesheet" href="css/style.css">
	<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">-->
	<link href="bootstrap/bootstrap-3.3.7/dist/css/bootstrap.css" rel="stylesheet">
	<script src="modules/angular.js"></script>
	<script src="modules/angular-route.js"></script>
	<script src="modules/angular-resource.js"></script>
	<script src="modules/satellizer.min.js"></script>
	<script src="modules/webcam.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/services.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.2.js"></script>

    

	<body ng-app="eplApp" ng-controller="MainCtrl">
		<nav class="navbar navbar-inverse navbar-collapse" ng-show="isAuthenticated()">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">My Node Chat</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li ng-hide="isAuthenticated()"><a href="#/login">LOGIN</a></li>
		      <li><a href="#/register">REGISTER</a></li>
		      <li><a href="#/home">HOME</a></li>
				<li><a href="#/rooms">ROOMS</a></li>
		      <li ng-show="isAuthenticated()">
                	<div>
			        	<form class="navbar-form" role="search">
			        		<div class="input-group">
			            		<input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
			            		<div class="input-group-btn">
			                		<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
			            		</div>
			        		</div>
		        		</form>
		        	</div>
                </li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right" ng-show="isAuthenticated()">
		    	<li><a href="#/home">{{user.username}}</a></li>
                <li><a ng-click="logout()" href="#/login" class="glyphicon glyphicon-log-out"></a></li> 
            </ul>
		  </div>
		</nav>

		
		<div ng-view></div>
	</body>
</html>