<div class="row profile">
    <link rel="stylesheet" type="text/css" href="css/chat/style.css">
    <div class="col-md-3">
      <div class="input-group">
         <form ng-submit="createRoom()">
             <input type="text" class="form-control" ng-model="newRoomName">
             <input type="submit" value="Tạo phòng" class="btn btn-danger">
         </form>
      </div>
      <div ng-model="message" ng-show="message" class="bg-danger">{{message}}</div>
      <button ng-click="getAllRooms()" class="btn btn-info">See all rooms</button>
      <button ng-click="getJoinedRooms()" class="btn btn-info">See rooms I join</button>
      <h4 ng-show="rooms">Available rooms</h4>
      <table ng-show="rooms" class="table">
        <tr>
          <td><b>Tên</b></td>
          <td><b>Chủ phòng</b></td>
          <td><b>Tham gia</b></td>
        </tr>
        <tr ng-repeat="room in rooms">
          <td>{{room.name}}</td>
          <td>{{room.ownerName}}</td>
          <td><button class="btn btn-primary" ng-click="joinRoom(room.id)">Join</button></td>
        </tr>
      </table>
      <h4 ng-show="joinedRooms">Rooms I join</h4>
      <textarea ng-show="joinedRooms" type="text" ng-model="roomMessage" row="3"></textarea>
      <table ng-show="joinedRooms" class="table">
        <tr>
          <td><b>Tên</b></td>
          <td><b>Chủ phòng</b></td>
          <td><b>Tin nhắn</b></td>
        </tr>
        <tr ng-repeat="room in joinedRooms">
          <td>{{room.name}}</td>
          <td>{{room.ownerName}}</td>
          <td><button class="btn btn-warning" ng-click="sendToRoom(room.id)">Gửi</button></td>
        </tr>
      </table>
    </div>
    <div ng-controller="ChatCtrl">
      <div class="col-md-6">
        <table class="table">
          <tr ng-repeat="roomMessage in roomMessages">
            <td><b>{{roomMessage.senderName}}</b></td>
            <td>{{roomMessage.roomName}}</td>
            <td><i>{{roomMessage.message}}</i></td>
          </tr>
        </table>
      </div>

        <div class="col-md-3 user-list-container">
          <ul class="list-group user-list" style="list-style-type: none">
            <li ng-repeat="onlineUser in onlineUsers" class="list-group-item">
              <span class="avatar">
                <img src="images/default-ava.png" class="img-thumbnail" width="50px">
              </span>
              <h5 class="friend-name">{{onlineUser.name}}</h5>
              <span class="label label-success status">Online</span>
            </li>
          </ul>
        </div>
      </div>
    
</div>




